// menu wrapper
.menu-items {
  width: 224px;

  .menu-item {
    margin-left: 0;
  }
}

.menu-list {
    padding-bottom: 8px;
}

.menu-scroll {
  overflow-y: auto;
}

// menu items
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    font-weight: 600;
    line-height: 1.8rem;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }

    &.separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}

