@import "normalize.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ff3b5c;
    --black: #000;
}

html {
    font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    color: #000;
    // font-weight: 600;
}
