.search,
.search-result {
  width: 361px;
}

.search-title {
  color: rgba(22, 24, 35, 0.5);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 12px;
}

.search {
  position: relative;
  height: 46px;
  background: rgba(22, 24, 35, 0.06);
  border-radius: 92px;
  border: 1.5px solid transparent;
  padding-left: 16px;
  display: flex;

  input {
    flex: 1;
    color: var(--black);
    font-size: 1.6rem;
    padding-right: 40px;
    font-family: "ProximaNova", sans-serif;
    height: 100%;
    background-color: transparent;
    caret-color: var(--primary);
  }

  // khi gõ chữ trong ô input thì icon search sáng màu
  input:not(:placeholder-shown) ~ .search-btn {
    color: #333;
  }

  &::after {
    content: "";
    position: absolute;
    right: 52px;
    top: 9px;
    width: 1px;
    height: 28px;
    background-color: rgba(22, 24, 35, 0.2);
  }

  &:focus-within {
    border: 1.5px solid rgba(22, 24, 35, 0.2);
  }
}

.clear,
.loading {
  position: absolute;
  right: 52px + 16px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
  cursor: pointer;
}

.loading {
  animation: spinner 1s linear infinite;
}

// loading quay tròn
@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  width: 52px;
  height: 100%;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  cursor: pointer;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
